/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

:root {
  --cream: hsl(30, 38%, 92%);
  --darkCyan: hsl(158, 36%, 37%);
  --darkerCyan: hsl(156, 42%, 18%);
  --darkBlue: hsl(212, 21%, 14%);
  --grayBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  font-family: 'Montserrat', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.7rem;
  width: 21rem;
}

.product-img {
  background-image: url(images/image-product-mobile.jpg);
  background-size: cover;
  border-radius: 0.7rem 0.7rem 0 0;
  height: 17rem;
}

.product-info {
  padding: 1.6rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h2 {
  text-transform: uppercase;
  color: var(--grayBlue);
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  margin: 0.5rem 0 -1rem 0;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 1.9rem;
  line-height: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--grayBlue);
  /* padding: rem; */
}

.prices {
  padding: 1rem 0;
}

.new-price {
  color: var(--darkCyan);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
}

.old-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--grayBlue);
  vertical-align: super;
  padding-left: 1rem;
}

button {
  background-color: var(--darkCyan);
  display: block;
  width: 100%;
  padding: 0.75rem;
  color: var(--cream);
  border-radius: 0.75rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-family: 'Montserrat', sans-serif;
}

button:hover{
  background-color: var(--darkerCyan);
}

.icon {
  margin-right: 0.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive */
@media screen and (min-width: 800px) {

  .product-card {
    width: 37rem;
    flex-direction: row;
  }

  .product-img {
    background-image: url(images/image-product-desktop.jpg);
    width: 50%;
    height: 27rem;
    background-size: cover;
    border-radius: 0.75rem 0 0 0.75rem;
  }

  .product-info {
    width: 50%;    
  }
  
  p {
    padding-right: 2rem;
  }
}